Repository aws-cloudformation/cloudformation-cli, pull requests merged in 2020-07, with the labels that each got.

#472 added logic to merge subschemas for key type
  src/rpdk/core/jsonutils/utils.py
  tests/jsonutils/test_flattener.py
Labels: bug, schema processing

#473 Copying README.md into docs folder
  docs/CLOUDFORMATION_CLI.md
  docs/README.md
Labels: documentation

#480 Fixing pre-commit errors
  setup.py
  tests/test_project.py
Labels: bug, code quality

#490 Removed empty model assert in contract tests
  src/rpdk/core/contract/resource_client.py
  tests/contract/test_resource_client.py
Labels: contract tests

#495 Adding a command to the README
  README.md
Labels: contract tests, documentation

#497 Add read without create test, add error code to update handler
  src/rpdk/core/contract/suite/handler_read.py
  src/rpdk/core/contract/suite/handler_update.py
Labels: contract tests

#499 Fix the fixture scope for update handler
  src/rpdk/core/contract/suite/handler_update.py
  src/rpdk/core/contract/suite/handler_update_invalid.py
Labels: contract tests

#498 asserts that primary id has not got changed throughout update
  src/rpdk/core/contract/suite/handler_commons.py
Labels: contract tests, enhancement

#504 removed potential duplicate types within array
  src/rpdk/core/jsonutils/resolver.py
  src/rpdk/core/project.py
  tests/data/schema/valid/valid_multityped_property.json
  tests/jsonutils/test_resolver.py
  tests/test_project.py
Labels: bug

#502 Add region, partition and accountId to contract test request to handler
  src/rpdk/core/boto_helpers.py
  src/rpdk/core/contract/resource_client.py
  src/rpdk/core/contract/suite/handler_delete.py
  tests/contract/test_resource_client.py
  tests/test_boto_helpers.py
Labels: contract tests

#500 added asserts into a library
  src/rpdk/core/contract/suite/contract_asserts.py
  src/rpdk/core/contract/suite/handler_commons.py
  src/rpdk/core/contract/suite/handler_create.py
  src/rpdk/core/contract/suite/handler_update_invalid.py
Labels: contract tests, enhancement

#518 increasing default lambda memory size
  requirements.txt
  src/rpdk/core/templates/template.yml
Labels: cli experience
