Repository aws-cloudformation/cloudformation-cli, pull requests merged in 2020-08, with the labels that each got.

#515 added a writable id skip for read without create
  src/rpdk/core/contract/suite/contract_asserts.py
  src/rpdk/core/contract/suite/handler_commons.py
  src/rpdk/core/contract/suite/handler_create.py
  src/rpdk/core/contract/suite/handler_read.py
  src/rpdk/core/contract/suite/handler_update_invalid.py
Labels: contract tests

#529 mapping integer to Integer instead of Double in generated documentation
  src/rpdk/core/project.py
  tests/data/schema/target_output/multityped.md
Labels: bug

#522 added inputs generation on [cfn init]
  .pre-commit-config.yaml
  src/rpdk/core/project.py
  src/rpdk/core/templates/inputs.json
  tests/test_project.py
Labels: cli experience, contract tests, enhancement
