Repository aws-cloudformation/cloudformation-cli, pull requests merged in 2020-11, with the labels that each got.

#614 use dict key instead of value when checking properties without insert…
  src/rpdk/core/contract/suite/handler_commons.py
Labels: bug

#622 fix update handler bug
  src/rpdk/core/contract/suite/handler_update.py
Labels: bug, contract tests

#619 Multi Ref Support
  requirements.txt
  setup.cfg
  src/rpdk/core/jsonutils/flattener.py
  src/rpdk/core/jsonutils/utils.py
  src/rpdk/core/project.py
  tests/data/schema/target_output/multiref.md
  tests/data/schema/valid/valid_multiref_property.json
  tests/jsonutils/test_flattener.py
  tests/test_project.py
Labels: enhancement, schema, schema processing
