Repository aws-cloudformation/cloudformation-cli, pull requests merged in 2023-10, with the labels that each got.

#1028 removed contract-test integration
  .github/workflows/contract-integration.yaml
Labels: code quality

#921 chore(schema): sync 3 additional schema definitions from aws-cloudformation-resource-schema
  .github/workflows/schema-updater.yaml
Labels: enhancement, schema

#913 feature(cli) - Support `package` as an alias for the `submit --dry-run` argument in the cfn-cli
  README.md
  src/rpdk/core/cli.py
  src/rpdk/core/package.py
  tests/test_package.py
Labels: enhancement, cli experience
